.flex{
display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.border{
    border: 2px solid rgb(255, 255, 255);
    margin: 3px;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #232121;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.pointer{
    cursor: pointer;
}